#contact {
    .background {
        background-attachment: fixed;
        background-size: cover;
        height: 16rem;
        overflow: hidden;
      }
    
      .background-one {
        background-image: url("../img/cropped-rojdas-cousin-reduced-red-1.jpg");
      }
}