.background {
    background-attachment: fixed;
    background-size: cover;
    height: calc(100vh - 6rem);
    overflow: hidden;
}

.background-one {
    background-image: url('../img/cropped-rojdas-cousin-reduced-red-1.jpg');
}

.background-two {
    background-image: url('../img/polly-cactus.jpg');
    background-position: center;
}

.about {
    &__content {
        width: 70rem;
        margin: 0 auto;

        h2 {
            font-family: "Oswald", sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            padding: 6rem 0;
            text-transform: uppercase;
            letter-spacing: 0.14em;
        }

        img {
                float: left;
                object-fit: contain;
                width: 35%;
                margin-right: 3rem;
            }
        

        &--text {
            font-family: "Karla", sans-serif;
            font-size: 1.8rem;
            padding: 2rem;
            line-height: 1.5;
        }
    }
}