.background {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.background-one {
    background-image: url('../img/cropped-rojdas-cousin-reduced-red-1.jpg');
}

.background-two {
    background-image: url('../img/spare-bedroom-photo.webp');
}