// Variables
:root {
  --central-width: 90rem;
  --headline-font: "Oswald", sans-serif;
  --paragraph-font: "Karla", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;

  .title-area {
    position: absolute;
    bottom: 7rem;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(53, 52, 52, 0.005),
      rgba(53, 52, 52, 0.07) 25%,
      rgba(53, 52, 52, 0.1) 40%,
      rgba(53, 52, 52, 0.14) 50%,
      rgba(53, 52, 52, 0.22) 75%,
      rgba(53, 52, 52, 0.3)
    );
    height: 16rem;
    display: flex;
    align-items: center;

    &__names {
      width: var(--central-width);
      margin: 0 auto;
      color: white;
      font-family: var(--headline-font);

      h1 {
        font-size: 3.7rem;
        font-weight: 350;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        line-height: 1.25;
      }

      p {
        font-size: 2rem;
        color: rgb(238, 236, 236);
      }
    }
  }

  .links {
    background-color: white;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 7rem;
    display: flex;
    align-items: center;

    &__container {
      width: var(--central-width);
      margin: 0 auto;
      display: flex;
      gap: 3.5rem;

      a,
      p {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: black;
        font-family: var(--paragraph-font);
        transition: color 0.5s;
        padding: 2rem 0;

        &:hover,
        &.current {
          color: #767676;
        }

        .down-arrow {
          height: 1.4rem;
          width: 1.4rem;
        }
      }

      &--work {
        p {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        .dropdown {
          position: absolute;
          display: none;
          border: 1px solid #bbb;
          top: 6rem;
          transform: translateX(-1rem);

          a {
            display: block;
            width: 15rem;
            background-color: white;
            padding: 1.5rem 2rem;
            transition: all 0s;

            &:hover {
              background-color: #767676;
              color: white;
            }
          }

          &::before, &::after {
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            top: -0.7rem;
            right: 2.2rem;
            border-style: solid;
            border-width: 0px 6px 6px;
            border-color: transparent transparent #bbb;
            display: block;
          }

          &::after {
            border-color: transparent transparent white;
            top: -0.6rem;
          }

        }

        &:hover {
          .dropdown {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

.section-header {
  font-family: var(--headline-font);
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}

footer {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border-top: 1px solid #eee;

  img {
    height: 4rem;
    background-color: rgb(118, 118, 118);
    border-radius: 50%;
    padding: 0.5rem;
    transition: background-color 0.5s;

    &:hover {
      background-color: rgb(10, 102, 194);
    }
  }
}
