:root {
  --central-width: 90rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav .title-area {
  position: absolute;
  bottom: 7rem;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(53, 52, 52, 0.005), rgba(53, 52, 52, 0.07) 25%, rgba(53, 52, 52, 0.1) 40%, rgba(53, 52, 52, 0.14) 50%, rgba(53, 52, 52, 0.22) 75%, rgba(53, 52, 52, 0.3));
  height: 16rem;
  display: flex;
  align-items: center;
}
nav .title-area__names {
  width: var(--central-width);
  margin: 0 auto;
  color: white;
  font-family: "Oswald", sans-serif;
}
nav .title-area__names h1 {
  font-size: 3.7rem;
  font-weight: 350;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  line-height: 1.25;
}
nav .title-area__names p {
  font-size: 2rem;
  color: rgb(238, 236, 236);
}
nav .links {
  background-color: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 7rem;
  display: flex;
  align-items: center;
}
nav .links__container {
  width: var(--central-width);
  margin: 0 auto;
  display: flex;
  gap: 3.5rem;
}
nav .links__container a,
nav .links__container p {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  font-family: "Karla", sans-serif;
  transition: color 0.5s;
  padding: 2rem 0;
}
nav .links__container a:hover, nav .links__container a.current,
nav .links__container p:hover,
nav .links__container p.current {
  color: #767676;
}
nav .links__container a .down-arrow,
nav .links__container p .down-arrow {
  height: 1.4rem;
  width: 1.4rem;
}
nav .links__container--work p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
nav .links__container--work .dropdown {
  position: absolute;
  display: none;
  border: 1px solid #bbb;
  top: 6rem;
  transform: translateX(-1rem);
}
nav .links__container--work .dropdown a {
  display: block;
  width: 15rem;
  background-color: white;
  padding: 1.5rem 2rem;
  transition: all 0s;
}
nav .links__container--work .dropdown a:hover {
  background-color: #767676;
  color: white;
}
nav .links__container--work .dropdown::before, nav .links__container--work .dropdown::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: -0.7rem;
  right: 2.2rem;
  border-style: solid;
  border-width: 0px 6px 6px;
  border-color: transparent transparent #bbb;
  display: block;
}
nav .links__container--work .dropdown::after {
  border-color: transparent transparent white;
  top: -0.6rem;
}
nav .links__container--work:hover .dropdown {
  display: flex;
  flex-direction: column;
}

.section-header {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}

footer {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border-top: 1px solid #eee;
}
footer img {
  height: 4rem;
  background-color: rgb(118, 118, 118);
  border-radius: 50%;
  padding: 0.5rem;
  transition: background-color 0.5s;
}
footer img:hover {
  background-color: rgb(10, 102, 194);
}

/*# sourceMappingURL=index.css.map */
